.visor {
  margin-top: 75px;
  max-width: 1702px;
  width: 100%;
}

.container__header {
  margin-top: 20px;
  width: 100%;
  display: flex;
  padding: 0px;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 200;
  background-color: var(--background);
  flex-wrap: wrap;
}

.container__box1 {
  display: flex;
  padding: 0;
  gap: 20px;
  font-weight: 600;
}

.container__box1 li {
  list-style-type: none;
}

.container__box1 a {
  color: var(--black);
  text-decoration: none;
  letter-spacing: 0.3px;
}

.container__box1 a:hover {
  color: var(--grayhover);
  transition: 0.3s;
}

.container__box2 {
  visibility: hidden;
}

.cards h3 {
  font-size: 1.5rem;
  font-weight: 100;
}

.cards--newest,
.cards--tendencies {
  width: 100%;
  gap: 15px;
  margin-top: 20px;
  padding-left: 45px;
  padding-right: 45px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.cards--newest h3 {
  font-size: 1.2rem;
  font-weight: 100;
}

.card--family {
  max-width: 447px;
  width: 100%;
  object-fit: cover;
}

.card__text {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: -180px;
  left: -55px;
  z-index: 20;
  color: var(--background);
  font-size: 1.2rem;
  gap: 5px;
  font-weight: 600;
}

.card__button {
  max-width: 100px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: -150px;
  left: 50px;
  z-index: 20;
  background-color: var(--background);
  font-size: 1rem;
  gap: 5px;
  font-weight: 600;
  border: 0;
  border-radius: 50px;
}

.cards--icons {
  align-items: center;
}

.cards--icons img {
  max-width: 500px;
  width: 100%;
}

.cards--most-read {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.cards--most-read a {
  max-width: 593px;
  width: 100%;
}

.cards--most-read h4 {
  margin-top: 30px;
}

.cards--most-read h3 {
  font-size: 1.5rem;
  font-weight: 100;
  margin-top: 5px;
}

.cards--most-read p {
  font-size: 1.3rem;
  font-weight: 100;
  margin-top: 15px;
}

.cards--most-read img {
  width: 100%;
}

.qr-banner {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
  flex-direction: column;
  text-decoration: none;
  margin-bottom: -190px;
}

.relative {
  position: relative;
  top: 0;
  z-index: -20;
}

.qr-banner__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: -270px;
  z-index: 10;
}

.qr-banner__text h2 {
  font-family: "Nike", sans-serif;
  font-size: 3rem;
  color: var(--background);
  margin-bottom: 0;
}

.qr-banner__text h4 {
  margin-top: 10px;
  font-weight: 600;
  font-size: 1rem;
  color: var(--background);
}

.qr-banner__text p {
  font-weight: 600;
  font-size: 1rem;
  color: var(--black);
  background-color: var(--background);
  padding: 10px 15px;
  border-radius: 15px;
}

.qr-banner__text p:hover {
  background-color: var(--graybutton);
}
